ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  border: 1px solid #ff16f4;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  font-weight: bold;
  padding: 0;
  background: #ffe1fe;

  button {
    box-sizing: border-box;
    height: 5rem;
    width: 3rem;
    padding: 0%;
    background: white;
    border: none;
    border-radius: 10px;
    margin: 0.5rem;
    filter: drop-shadow(2px 2px 2px grey);

    &:hover {
      border: 2px solid #ffe1fe;
    }
    &.active {
      // border: none;
      // outline: 0.2rem groove #ff16f4;
      background: #ff16f4;
    }
    &.selected {
      border: 3px solid #ff16f4;
    }
  }
}
.inactive {
  font-weight: 100;
  color: grey;
  box-sizing: border-box;
  height: 5rem;
  width: 3rem;

  background: white;
  border: none;
  border-radius: 10px;
  margin: 0.5rem;
  filter: drop-shadow(2px 2px 2px grey);
  display: flex;
  align-items: center;
  justify-content: center;
}
